@model Auto.ModelsApp.AppCar
@{
    Layout = "~/Views/Shared/NewAdmin.cshtml";
    ViewBag.Title = "Информация о машине";
}
@*<html>
<head>
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>*@
    <div class="present">
        <h1>@Model.Name</h1>
        <h3>Цена: @Model.Price</h3>
        <hr /> 
        <div style="display: flex; justify-content: space-around;">
        <form method="post" action="/Admin/DeleteCar/@Model.Id">
            <button class="btn btn-danger">Снять с продаж</button>
            
        </form>
        <form method="get" action="/Admin/ShowUsers_of_Car/@Model.Id">
            <button class="btn btn-primary">Показать покупателей</button>
        </form>
        </div>
        @*<a class="links" href="~/Admin/ShowUsers_of_Car/@Model.Id">Показать покупателей</a>*@        
        <hr />
        <p><img src="~/Files/@Model.ExtencionName" width="600" height="400" alt="@Model.Name"></p>
        <p class="Info">@Model.Info</p>
    </div>
@*</body>
</html>*@