@model List<Auto.ModelsApp.AppBuyer>
@{
    Layout = "~/Views/Shared/NewHead.cshtml";
    ViewBag.Title = "BuyersForCar";
} 

    <table class="table">
        <tr>
            <th>Почта</th>
            <th>Чат</th>
        </tr>        
        @if (Model!=null)
        { foreach (var i in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => i.Email)
                </td>
                <td>  
                    <form method="get" action="/Chat/Index">
                        <input type="hidden" name="OwnerId" value="@ViewBag.OwnerId" />
                        <input type="hidden" name="UserId" value=@i.Id />
                        <input type="hidden" name="CarId" value="@ViewBag.CarId" />
                        <button class="btn btn-success">Чат</button>
                    </form>
                </td>                
            </tr>
            }
        }
    </table>