@model Auto.ModelsApp.AppBuyer
@{
    Layout = "~/Views/Shared/NewHead.cshtml";
    ViewBag.Title = "Connect";
}
@using (Html.BeginForm("Connect", "Buyer", FormMethod.Post, new { @class = "well" }))
{
    <label>Ваша почта</label><br />
    <input style="width:400px;"  class="form-control input-fixed" type="text" name="From" placeholder="можете не указывать если вы под ней зарегистрированы" /><br>
                                                                                                                      
    <label>Ваш пароль от почты</label><br />
    <input style="width:400px;"  class="form-control input-fixed" type="password" required="required" name ="password" placeholder="обязательно" /><br>
                                                                                         
    <label>Почта получателя</label><br />
    <input style="width:400px;"  class="form-control input-fixed" type="text" value="@Model.Email" name="To"  placeholder="Если указаннпя почта актуальна, можно не вводить" /><br>
  
    <label>Тема</label><br />
    <input style="width:400px;"  class="form-control input-fixed" type="text" name="Subject" placeholder="Тема письма" /><br>

    <label>Письмо</label><br />
    <input style="width:400px;"  class="form-control input-fixed" type="text" name="Body" placeholder="Письмо" /><br>
    <button class="btn btn-success">Отправить</button>
}
