@model  IList<Auto.ModelsApp.AppCar>
@{
    Layout = "~/Views/Shared/User.cshtml";
    ViewBag.Title = "Машины покупателя";
}
<html>
<head>
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>

    <table class="table">
        <tr>
            <th>Название модели</th>
            <th>Стоимость</th>
            <th>Изображение</th>
            <th>Статус</th>
            <th>Покупатели</th>
            <th>Редактирование</th>
            <th>Удаление</th>
        </tr>
        @if (Model != null)
        {
            foreach (var i in Model)
            {
        <tr>
            <td>
                <a href="#">@Html.DisplayFor(modelItem => i.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => i.Price)$
            </td>
            <td>
                <img src="~/Files/@i.ExtencionName" width="300" height="200" alt="@i.Name">
            </td>
            <td>
                @i.Status
            </td>
            <td>
                <a href="~/Buyer/BuyersForCar/@i.Id">Покупатели</a>
            </td>
            <td>
                <a href="~/Buyer/UpdateCar/@i.Id">Редактирование</a>
            </td>
            <td>
                <a href="~/Buyer/DeleteCar/@i.Id">Удалить</a>
            </td>
        </tr>
            }
        }
    </table>

</body>
</html>