@model List<Auto.Models.ApplicationUser>
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/NewAdmin.cshtml";
}

<h2>Пользователи</h2>
    <table class="table">
        <tr>
            <th>Пользователь</th>
            <th>Удалить</th>
        </tr>
        @if (Model != null)
        {
            foreach (Auto.Models.ApplicationUser user in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => user.Email)
                    </td>
                    <td>
                        <form method="post" action="/Account/Delete/@user.Id">
                            <button class="btn btn-danger" >Удалить</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </table>