@using Auto.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/Reg.cshtml";
    ViewBag.Title = "Выполнить вход";
}
<!-- overlay -->
    <div class="uk-position-cover uk-overlay-primary"></div>
    <!-- /overlay -->
    <div class="uk-width-medium uk-padding-small uk-position-z-index" id="start" uk-scrollspy="cls: uk-animation-fade">


        <div>
            <!-- login -->
            <form class="toggle-class" action="/Account/Login" method="post">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <fieldset class="uk-fieldset">
                    <div class="uk-margin-small">
                        <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: user"></span>
                            <input class="uk-input uk-border-pill" required placeholder="Username" name="Email" type="email">
                        </div>
                    </div>
                    <div class="uk-margin-small">
                        <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
                            <input class="uk-input uk-border-pill" required placeholder="Password" name="Password" type="password">
                        </div>
                    </div>                    
                    <div class="uk-margin-small">
                        <label><input class="uk-checkbox" type="checkbox"> Keep me logged in</label>
                    </div>
                    <div class="uk-margin-bottom">
                        <button type="submit" class="uk-button uk-button-primary uk-border-pill uk-width-1-1">LOG IN</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <!-- /login -->
    </div>