@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Anton Nagula<br />
    Minsk<br />
    <abbr title="Phone">P:</abbr>
    +375293061643
</address>

<address>
    <strong>Support:</strong>   nagula.anton@mail.ru<br />
    
</address>