@model Auto.ModelsApp.AppCar
@{
    Layout = "~/Views/Shared/NewUser.cshtml";
    ViewBag.Title = "Информация о машине";
}

    <div class="present">
        <h1>@Model.Name</h1>
        <h3>Цена: @Model.Price</h3>
        <hr />
        <p><img src="~/Files/@Model.ExtencionName" width="600" height="400" alt="@Model.Name"></p>
        <p class="Info">@Model.Info</p>
    </div>